.compare-code-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
}

.compare-code-wrapper > * {
  max-width: 48%;
  width: 100%;
}

.compare-code-wrapper > .icon {
  width: 7rem;
  display: block;
  flex-grow: 1;
  background: var(--ifm-menu-link-sublist-icon) no-repeat center;
  background-size: contain;
  transform: rotate(90deg) translateX(-7px);
}
